/* ---------------------------- Header */

/* Jumbotron */

.jumbotron{
    color: ivory;
    text-transform: uppercase;
    background-image: url(../img/network-2402637_1280.jpg);
    background-size: cover;
    height: 50vh;

}

/* Navbar */

.nav-item {
    font-size: 1.2rem;
}

.nav-link{
    padding: 1.5vh;
    
}
.nav-item:hover .nav-link { 
    background-color: crimson; 
}

.navbar{
    padding: 0px;
}

/* ---------------------------- Footer */

footer{
    color: white;
    padding: 5%;
}

footer p{
    font-size: 1.25rem;
    margin: 0;
   
}

.footer-pad{
    padding-top: 1vh;
    padding-bottom: 2vh;
}


/* ---------------------------- Contact */


.btn {
    background-color: crimson;
    color: white;
}

.btn:hover {
    background-color: crimson;
    color: white;
    font-weight: 900;
}

/* ---------------------------- All */

p{
    font-size: 1.2rem;
}
    
.pad-top{
     padding-top: 15vh;
}
    

.page-section{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.white{
    color: whitesmoke;
}

.red{
    color: crimson;
}

/* Social/FontAwesome */
.fa{
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: white;
}

.fa-grey{
    color: #343a40;
}

a:hover i{
    color: crimson;
}

.lead{
    text-transform: uppercase;
}

hr{
    border: 2px solid;
    width: 15vw;
    color: crimson;
}
/* Headings */

.heading {
    text-transform: uppercase;
}
