/* ---------------------------- All Pages */


/* Header */

/* Jumbotron */

.jumbotron{
    background-color: #007bff;
    color: ivory;
}

.jumbotron hr{
    border: 2px solid;
    width: 28vw;
}

.lead{
    text-transform: uppercase;
}



/* Navbar */

.nav-item {
    font-size: 1.25rem;
}


/* Footer */

footer{
    color: white;
    padding: 5%;
}

footer p{
    font-size: 1.25rem;
    margin: 0;
   
}

.footer-pad{
    padding-top: 1vh;
    padding-bottom: 2vh;
}


/* Social/FontAwesome */
.fa{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}


/* ---------------------------- Home Page */




/* ---------------------------- About Page */

/* ---------------------------- Resume Page */

/* ---------------------------- Contact Page */




/* ---------------------------- Colours */

.white{
    background-color: ivory;
}